@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  will-change: contents;
}
.main_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.svgShape {
  filter: drop-shadow(0 0 4rem rgba(33, 37, 41, 0.5));
  -webkit-filter: drop-shadow(0 0 4rem rgba(33, 37, 41, 0.5));
}
.svgShape:nth-child(2) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  bottom: -19.7rem;
}
.navSvg {
  top: 0%;
  filter: drop-shadow(0 0 1rem rgba(33, 37, 41, 0.5));
  -webkit-filter: drop-shadow(0 0 1rem rgba(33, 37, 41, 0.5));
}
.footerSvg {
  transform: rotate(180deg);
  left: 0;
  bottom: 0;
  filter: drop-shadow(0 0 1rem rgba(33, 37, 41, 0.5));
  -webkit-filter: drop-shadow(0 0 1rem rgba(33, 37, 41, 0.5));
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#logo {
  animation: fill 1s ease-in-out forwards 2.6s;
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #212529;
  }
}

#logo path:nth-child(1) {
  stroke-dasharray: 3657;
  stroke-dashoffset: 3657;
  animation: strokeLine 6s ease-in-out forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 1065;
  stroke-dashoffset: 1065;
  animation: strokeLine 4s ease-in-out forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 2709;
  stroke-dashoffset: 2709;
  animation: strokeLine 4s ease-in-out forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 2293;
  stroke-dashoffset: 2293;
  animation: strokeLine 4s ease-in-out forwards;
}

@keyframes strokeLine {
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

.thumbnails {
  margin: 2rem 0;
}
.thumbnails_h1,
.about_h1,
.ids_h1,
.admin_h1,
.posters_h1 {
  text-align: center;
  border-bottom: 2px solid #212529;
  width: fit-content;
}

.navbar-brand img {
  max-width: 15rem;
  filter: invert(1);
}

.header {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  margin-top: -5rem;
  margin-bottom: 15rem;
}
.header h1 {
  font-family: "Grape Nuts", cursive;
  font-weight: 600;
}
.header img {
  width: 400px;
  max-width: 90%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0 1rem 2rem rgba(33, 37, 41, 0.3);
  transition-delay: 5.7s;
}

/* thumbnails =================================== */

.thumbnails,
.posters {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 3rem;
}
.thumb_img {
  position: relative;
}

.thumb_img a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.thumbnail,
.poster {
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.thumbnail img,
.poster img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.thumbnail .details,
.poster .details {
  padding: 1rem;
  color: #212529;
}

footer {
  background: #f1f1f1;
  margin-top: 10rem;
}
footer p {
  padding: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .ayanImg {
    margin-top: -3rem;
  }
  .header {
    grid-auto-flow: row;
    margin-bottom: 0rem;
    margin-top: 0;
  }
  .svgShape:nth-child(2) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    bottom: -4.4rem;
  }
  .navSvg {
    top: 80%;
  }


  .main_div {
    min-height: calc(100vh - 79.22px);
  }
  /* thumbnails =========================== */
  .thumbnails,
  .posters {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 3rem 0;
  }
  .navbar-brand img {
    max-width: 11rem;
  }
  footer {
    margin-top: 3rem;
  }
  .footerSvg {
    bottom: 80%;
  }
}
