* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
:root {
  --bg: #262626;
  --light: #eee;
}

body {
  padding-top: 1rem;
  color: #666;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  text-wrap: balance;
}
ul {
  margin-inline-start: 1rem;
}
a {
  color: #666;
}

.loadingContainer {
  margin-top: 2rem;
  margin-left: 1rem;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

/* Navbar============================>> */

nav {
  z-index: 10;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}
nav img {
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.divider {
  width: 2px;
  margin-left: 1rem;
  align-self: stretch;
  background: var(--light);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

nav a.active {
  font-weight: bold;
}

/* home page=============>> */

section {
  display: flex;
  margin-top: 2rem;
}
.home {
  gap: 2rem;
}
.home .left,
.home img {
  flex: 1;
}
.home img {
  display: block;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.headingAk {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  line-height: normal;
}
.headingAk span {
  font-weight: bold;
  color: var(--bg);
}

.btn {
  display: inline-block;
  border-radius: 0.3rem;
  width: fit-content;
  background: var(--bg);
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border: 1px solid var(--bg);
}
.btn:hover {
  background: #fff;
  color: var(--bg);
}
.headerDescription {
  margin-block: 1rem;
  text-transform: capitalize;
}

/* gallery=================>> */

.gallery-section {
  flex-direction: column;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.filterBtn {
  background: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.filterBtn.active {
  background: var(--bg);
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
img {
  width: 100%;
  background-image: url("/loading.svg") !important;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}
/*
img {
  position: relative;
  aspect-ratio: 1;
}
img.Thumbnail {
  aspect-ratio: 16/9;
}
img.Poster {
  aspect-ratio: 4/5;
} */

/* modal==========================>> */
.modal {
  position: absolute;
  inset: 0;
  background: #00000070;
  cursor: pointer;
}
.modal-img-container {
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background: var(--light);
  cursor: default;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.modal-img-container a {
  align-self: center;
  margin-top: 0;
  margin-block: 1rem;
}

/* about page==============>> */
.about {
  flex-direction: column;
}

.workGrid {
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background: var(--bg);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.workTile {
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  color: var(--light);
}
.whatido {
  text-transform: capitalize;
}
.vrLine {
  position: absolute;
  width: 1px;
  height: calc(100% - 4rem);
  background: var(--light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.whatido li {
  line-height: 2;
}

.aboutPs {
  line-height: 2;
  margin-block: 2rem;
}

/* contact===========================>> */
.contact {
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.icon_container {
  display: flex;
  background: var(--light);
  align-items: center;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.icon_container:active,
.icon_container:hover {
  background: var(--bg);
  color: #fff;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
    font-size: 0.85rem;
  }
  /* home==========>> */

  section {
    margin-top: 1rem;
    flex-direction: column;
  }
  .headingAk {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .filterBtn {
    padding: 0.7rem;
  }

  /* about=============>> */
  .about {
    flex-direction: column;
    justify-content: stretch;
  }

  .workGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .vrLine {
    display: none;
  }
}

@media (max-width: 540px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
  }
}
